:root {
	--light-color: #efefef;
	--light-dark-color: #d6d6d6;
	--dark-color: #222222;
	--dark-light-color: #666666;
	--primary-color: #ff7700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1.6rem;
	color: #333;
	background-color: var(--light-color);
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--primary-color);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid var(--light-color);
	border-radius: 2px;
}

input:disabled {
	color: var(--light-color);
}

input[type="range"] {
	height: 0;
}

button {
	color: var(--dark-color);
	background-color: var(--light-color);
	outline: none;
}

button:active {
	background-color: var(--light-dark-color);
}

button:focus {
	border-color: var(--dark-light-color);
}
